:root {
  --black-coral: #60656F;
  --carolina-blue: #279AF1;
  --baby-powder: #F0F4EF;
  --hot-pink: #F865B0;
  --charcoal-black: #131112;
}

@font-face {
  font-family: "titilliumweb";
  src:  url('/tits.woff') format('woff'),
        url('/tits.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

body {
  font-family: titilliumweb;
  background: var(--black-coral);
  color: var(--baby-powder);
}

.login,
.createblog form {
  background-color: var(--carolina-blue);
  max-width: 800px;
  margin: 0 auto;
  font-size: 2em;
  padding: 20px;
}

.login label {
  display: inline-block;
  width: 15%;
  text-align: bottom;
}

.login input{
  display: block;
  width: 80%;
  margin: 10px auto;
}

.createblog label{
  margin-left: 5%;
}

.createblog textarea, input {
  display: block;
  width: 100%;
  margin:  0 auto;
  padding: 5px;
  font-size: 1em;
}

.createblog textarea {
  height: 350px;
}

.createblog .buttonPlaceMent{
  width: 100%;
  display: inline-block;
}
.login button,
.createblog button {
  float: right;
  background: var(--hot-pink);
  color: var(--baby-powder);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  margin: 30px 0 0 0 ;
  padding: 5px;
}

.navbar {
  position: sticky;
  top: 0;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: var(--charcoal-black);
  font-size: 1.1em;
  min-width: 800px;
  box-shadow: 0px 5px 10px 1px rgba(19,17,18,0.83);
}
.navbar ul {
  padding: 0 50px;
  display: block;
  list-style-type: none;
  font-size: 1.5em;
}

.navbar li{
  padding: 20px 0px;
  display: inline-block;
}

.navbar li:last-child{
  float: right;
}

.navbar a {
  text-decoration: none;
  color: var(--baby-powder);
}

footer {
  text-align: center;
  color: var(--baby-powder);
}
.p404 {
  display: block;
  max-width: 80%;
  background-color: var(--hot-pink);
  margin: 0 auto;
  text-align: center;
  min-width: 800px;
  padding: 10px 0;
}

.p404 h1 {
  font-size: 3em;
  color: var(--carolina-blue);
}

.p404 p {
  font-size: 2em;
  color: var(--carolina-blue);
}

.bloggInnhold{
  display: block;
  max-width: 80%;
  min-width: 800px;
  margin: 2px auto;
  background-color: var(--hot-pink);
  padding-bottom: 20px;
}

.bloggInnhold h2 {
  font-size: 3em;
  color: var(--baby-powder);
  padding: 30px 0 0 10%;
}
.blogg{
  background-color: var(--carolina-blue);
  margin: 10px auto 30px auto;
  width: 65em;
  padding: 2px 5px;
  border-radius: 20px 0 20px 0;
  box-shadow: 10px 5px var(--charcoal-black);
}

.blogg:hover {
  cursor: pointer;
}

.blogg .title{
  color: var(--baby-powder);
  font-size: 2em;
  padding: 0 10%;
}

.blogg a{
  text-decoration: none;
}
.blogg .snippet{
  font-style: italic;
  color: var(--baby-powder);
  font-size: 1.5em;
  padding: 0 5%;
}

.details {
  position: relative;
  background-color: var(--carolina-blue);
  color: var(--baby-powder);
  width: 65ch;
  padding:  1em 2em;
  margin: 0 auto;
  font-size: 1.2em;
}

.details h2 {
  color: var(--charcoal-black);
  border-left: #F865B0;
  border-left-style: solid;
  border-left-width: 1ch;
  padding-left: 1ch;
}

.delete{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 8px;
  color: var(--hot-pink);
  text-decoration: none;

}

.delete:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
