
<nav>
  <div class="navbar">
    <ul>
      <li><a href="/">hjem | </a>  </li>
      <li><a href="/about">om meg | </a></li>
      <li><a href="/createblog">ny blogg</a></li>
      <li><a href="/logIn">Logg inn</a></li>
    </ul>
  </div>
<nav>
