<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./partials/head.ejs',
  {title, css:'/master.css'}) %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="p404">
      <h1> <%=title%> </h1>
      <p> ooops.. something went wrong! </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
